{% extends 'product/base.html' %}
{% load static %}

{% block title %}
    product | Animal Shelter
{% endblock %}

{% block left_items_in_nav %}
    {% if not request.user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'customer:signup' %}">Signup</a>
        <a class="btn btn-success" href="{% url 'customer:login' %}">Login</a>
    {% else %}
        <a class="btn btn-success" href="{% url 'customer:profile' %}">Profile</a>
        <a class="btn btn-success" href="{% url 'customer:logout' %}">Logout</a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="card-body col-12" style="margin-top: 10px">
        <form method="POST" action="{% url 'order:add_to_cart' %}">

            <table class="table table-secondary">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Animal name</th>
                    <th scope="col">Specie</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Health</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><img src="/media/{{ product.photo }}" alt="{{ product.photo }}"
                                         style="max-height: 150px"></th>
                    <td>{{ product.animal_name }}</td>
                    <td>{{ product.specie }}</td>
                    <td>{{ product.age }}</td>
                    <td>{{ product.gender }}</td>
                    <td>{{ product.health }}</td>
                </tr>
                </tbody>

            </table>
            <div class="col-2">
                <input type="hidden" name="product_id" value={{ product.id }}>
                <button type="submit" class="btn btn-success">add to cart</button>
            </div>
        </form>
    </div>


{% endblock %}
